###############
#             #
#  GuaRNAtee  #
#             #
###############

# This file is supplemented to set defaults of this tool
# It contains distinct keys/value pairs to store these settings


[ALL_CONFIGURATIONS]
min_height=10
min_len=50
max_len=350
read_length=75
min_step_factor=1.5
min_orf_ud_frag_ratio=0.0
min_distance=10
max_TSS_len=40
max_TTS_len=40
max_outbound_TSS_tolerance=3
max_outbound_TTS_tolerance=3
min_mfe=40
detailed_output=False
merge_similarity_ratio=0.80
